{% extends "base.html" %}{% load humfrey_desc %}

{% block title %}{{ type.0|capfirst }}{% endblock %}

{% block body %}
  <h1>{{ type.0|capfirst }}</h2>
  <p class="text-content" style="text-align:center">
{% for type in types %}{% if type.rdfs_label %}
    <a href="{% url claros-objects-detail type.slug %}">{{ type.rdfs_label|capfirst }}</a>
    {% if not forloop.last%}&#8226;{% endif %}
{% endif %}{% endfor %}
  </p>

  <ul class="object-images">
  {% for subject in subjects %}
    <li{% if forloop.counter0|divisibleby:5 and forloop.counter0 %} class="image-break"{% endif %}>
      <a href="{{ subject.doc_url }}">
        <div class="image-caption">{{ subject.label|truncatewords:14 }}</div>
        <img class="with-caption" src="{% url resized-image %}?url={{ subject.depictions.0|urlencode }}&amp;width=180"/>
      </a>
      </li>
  {% endfor %}
  </ul>
  <div style="clear:both;"> </div>
{% endblock %}