{% extends "base.html" %}{% load humfrey_desc %}{% load humfrey_thumbnail %}

{% block title %}{{ type.rdfs_label|capfirst }}{% endblock %}

{% block content %}
  <h1>{{ type.rdfs_label|capfirst }}</h2>
  <p class="text-content" style="text-align:center">
{% for type in types %}{% if type.rdfs_label %}
    <a href="{% url "claros-objects-detail" type.slug %}">{{ type.rdfs_label|capfirst }}</a>
    {% if not forloop.last%}&#8226;{% endif %}
{% endif %}{% endfor %}
  </p>

  <ul class="object-images">
  {% for subject in subjects %}
    <li{% if forloop.counter0|divisibleby:5 and forloop.counter0 %} class="image-break"{% endif %}>
      <a href="{{ subject.doc_url }}">
        <div class="image-caption">{{ subject.label|truncatewords:14 }}</div>
        <img class="with-caption" src="{% thumbnail subject.depictions.0 width=200 %}" width="200"/>
      </a>
      </li>
  {% endfor %}
  </ul>
  <div style="clear:both;"> </div>
{% endblock %}