{% extends "base.html" %}{% load humfrey_desc %}

{% block extrahead %}
  <style type="text/css">

  </style>
{% endblock %}

{% block title %}Objects{% endblock %}

{% block body %}
<div id="content">
  <h1>Man-made objects</h2>
  
  <ul class="object-images">
  {% for subject in subjects %}
    <li{% if forloop.counter0|divisibleby:5 and forloop.counter0 %} class="image-break"{% endif %}>
      <a href="{{ subject.doc_url }}">
        <div class="image-caption">{{ subject.label|truncatewords:14 }}</div>
        <img class="with-caption" src="{% url resized-image %}?url={{ subject.depictions.0|urlencode }}&amp;width=180"/>
      </a>
      </li>
  {% endfor %}
  </ul>
  <div style="clear:both;"> </div>
</div>
{% endblock %}