{% extends "base.html" %}{% load humfrey_desc %}

{% block title %}People{% endblock %}

{% block body %}
<div id="content">
  <h1>People</h1>
  
  <p style="text-align:center">
    {% if page > 2 %}
      <a href="{% url claros-people-page page|add:"-1" %}">&#8678;</a>
    {% endif %}
    {% if page == 2 %}
      <a href="{% url claros-people %}">&#8678;</a>
    {% endif %}
    {% if page == 1 %}
      &#8678;
    {% endif %}
    Page {{ page }}
    <a href="{% url claros-people-page page|add:"1" %}">&#8680;</a>
  </p>
  
  <table class="description">
    <thead>
      <tr>
        <th>Names</th>
        <th>Year of birth</th>
        <th>Place of birth</th>
      </tr>
    </thead>
    <tbody>
{% for person in people %}
      <tr class="row-{% cycle odd,even %}">
        <td>
          <a href="{{ person.uri.doc_url }}">
          {% for appellation in person.appellations %}
            {{ appellation }}
            {% if not forloop.last %}<br/>{% endif %}
          {% endfor %}
          </a>
        </td>
        <td>
          {{ person.birth_period_label }}
        </td>
        <td>
        {% if person.birth_place_label %}
          <a href="{{ person.birth_place.doc_url }}">{{ person.birth_place_label }}</a>
        {% endif %}

        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}