div#header {
	background-image: url('claros-data-banner.jpg');
}

table.description {
	background-color:#fff;
    margin-top:20px;
	border:1px solid fff;
    font-size:10pt;
    width:778px;
}

div#content a {
	color:#333 !important;
}


tr.row-odd {
    background-color: #ddd;
}

tr.row-even {
    background-color: #eee;
}

table.description td, table.sparql-results td {
    padding:2px;
}


    ul.object-images {
      list-style: none;
      text-align: center;
      padding:10px;
    }
    
    ul.object-images li {
      width:180px;
      margin-left:20px;
      margin-top:20px;
      margin-bottom:20px;
      position:relative;
      padding-bottom: 0;
      font-size: 10pt;
      text-align: center;
      vertical-align: top;
      float:left;
      background-color:#576d7f;
    }

ul.object-images li:first-child, ul.object-images li.image-break {
margin-left:0;
}
    
    ul.object-images a img {
      border: 0;
    }

    ul.object-images a img.with-caption {
      padding-top:4em;
      background-color:#576d7f;
    }
    
    ul.object-images div.image-caption {
      position:absolute;
      background-color: rgba(87, 109, 127, 0.6);
      width:176px;
      padding:2px;
    }
    
    ul.object-images li a {
      color:#fff;
      text-decoration: none;
    }
    ul.object-images li a:hover {
      color:#000;
    }
    
      
    
    li.image-break {
      clear:both;
    }

div.sidebar {
    float:right;
    width:180px;
    padding:0;
    margin-top:20px;
    margin-right:10px;
    color: #2E3C48;
}

div.sidebar *:first-child {
	margin-top:0;
}

div.sidebar h3, div.sidebar a {
margin-top:2px;
color: #2E3C48;
}

.text-content {
	margin:2em;
}

.text-content h2 {
	padding-left:0;
}

div#query {
    background-color: #CBDBE6;
    border-bottom: 2px solid #6E89A0;
    border-top: 2px solid #6E89A0;
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

div#query-fade {
	background: url('blue-fade.png');
	width:1000px;
	height:50px;
	position:absolute;
	left:0;
	bottom:0;

}

form table {
    width: 100%;
}

form th, form td {
    border-top: 1px solid #ddd;
}

form tr:first-child th, form tr:first-child td {
    border:0
}

form table th {
    width: 200px;
    vertical-align:top;
    text-align:left;
}

form table textarea {
    width: 100%;
}

div.olControlAttribution {
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    right: 0;
}


div.blog-feed {
    float:right;
    margin:0 0 2em 2em;
    border:2px solid #6e89a0;
    padding:1em;
    width:260px;
    background-color:#fff
}

div.blog-feed h2 {
    margin:0 auto auto 0;
    padding:0;
    font-size:12pt;
}

div.blog-entry h3 {
    font-size:11pt;
    text-transform: none;
    font-weight:bold;
    margin-bottom:0;
}

div.blog-entry {
    font-size:10pt;
}

div.blog-entry p {
    margin:0.3em 0 0.3em 0;
}

p.blog-entry-date {
    font-size:9pt;
    font-style: italic;
}

p.blog-entry-more {
    font-size:9pt;
    text-align:right;
    font-style: italic;
    
}
