{% extends "base.html" %}{% load hosts %}

{% block title %}Not Found{% endblock %}

{% block content %}
  <h1>Not Found</h1>
    
  <div class="text-content">

  <p>There is nothing served on this domain. You may be interested in:</p>
  
  <ul>
    <li><a href="http://explore.clarosnet.org/">The CLAROS Explorer</a></li>
    <li><a href="http://data.clarosnet.org/">The CLAROS data site</a></li>
    <li><a href="http://clarosdata.wordpress.com/">The CLAROS data blog</a></li>
  </ul>
    
  </div>
{% endblock %}
