{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extrahead %}{% if feed %}
<link rel="alternate" type="application/rss+xml" title="{{ feed.feed.title }}" href="{{ feed.href }}" />
{% endif %}{% endblock %}

{% block body %}
    <h1>CLAROS Data</h1>

    <div class="text-content">
    {% if feed %}
    <div class="blog-feed">
      <h2><a href="{{ feed.feed.link }}">The CLAROS data blog</a></h2>

      {% for entry in feed.entries|slice:":5" %}
        <div class="blog-entry">
          <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>

          <p class="blog-entry-date">{{ entry.updated_datetime }}</p>

          {{ entry.content.0.value|truncatewords_html:20|safe }}

          <p class="blog-entry-more"><a href="{{ entry.link }}">Continue reading &#10145;</a></p>
        </div>
      {% endfor %}
    </div>
    {% endif %}


    <p>The CLAROS Data service provides a RESTful interface for the data of the
       <a href="http://www.clarosnet.org/">CLAROS Project</a>, and complements the
       CLAROS Explorer.</p>

    <p>This service provides metadata about archaeology and art in
       machine-readable formats such as RDF, JSON and KML.</p>

    <p>The data for the CLAROS project are modelled using the
       <a href="http://erlangen-crm.org/">Erlangen OWL-DL 1.0 implementation</a> of
       the <a href="http://www.cidoc-crm.org/">CIDOC Conceptual Reference
       Model</a> using the <code>http://purl.org/NET/crm-owl#</code>
       namespace.</p>

    <p>You can use the <a href="{% url claros-objects %}">Objects</a> and
       <a href="{% url claros-people %}">People</a> views to start exploring,
       or try your hand at <a href="{% url sparql %}">a SPARQL query</a>.</p>

  </div>

  <div style="clear:both;"> </div>
{% endblock %}
