<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
  <head>
    <title>{% block title %}Open Data about the University of Oxford{% endblock %} | Claros RDF Voyager</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" type="text/css"/>
    <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon"/>{% if no_index %}
    <meta name="robots" content="noindex"/>{% endif %}
    <script src="{{ MEDIA_URL }}jquery.min.js" type="application/javascript"></script>
    <script src="{{ MEDIA_URL }}OpenLayers-2.10/OpenLayers.js" type="application/javascript"></script>
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="container">
    <header>
      <a href="http://www.ox.ac.uk/">
        <img src="{{ MEDIA_URL }}logo.png" alt="University of Oxford"/>
      </a>
      <p class="title">Claros RDF Voyager</p>
      <p>clarosnet.org</p>
    </header>
    
    <nav>
      <ul>
{% block nav %}
        <li><a href="{% url index %}">home</a></li>
{#        <li><a href="{% url datasets %}">datasets</a></li> #}
{#        <li><a href="{% url explore %}">explore</a></li> #}
        <li><a href="{% url sparql %}">sparql</a></li>
{#        <li><a href="{% url help %}">help</a></li> #}
{#        <li><a href="{% url contact %}">contact</a></li> #}
{% endblock %}
      </ul>
    </nav>

{% block body %}
    <section>
      <h1>Home</h1>
    </section>
{% endblock %}
    </div>
  </body>
</html>
